<h1>Welcome to our Movie Database</h1>
<h3>Search for a movie below</h3>
<form method="GET" action="/results"> 
    Movie Title: <input type="text" name="movie"/>
    <input type="submit" value="SEARCH">